<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Classes</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}
<button type="button" class=" btn btn-outline-dark btn-sm p-2 m-2 text-right"> <a href="/logout">Logout</a></button>
<h1 class="display-3 text-center shadow-lg p-3 mb-5 bg-white rounded text-center">Class Schedule</h1>
<div class="jumbotron p-7">
    <p class="lead">Classes take place at Beem's back house in the off of Topping Way in Los Gatos.</p>
    <hr class="my-2">
    <p>Sundays from 6 to 7pm rain or shine. Admission is free.</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="/videos" role="button">Classes</a>
    </p>
    <div class="row mx-md-n5">
        <div class="col px-md-5"><div class="p-3 border bg-light">
        <img src="{{ url_for('static', filename='imgs/meditation.jpg') }}" alt ='gnome' style="width:200px;height:200px" class="border border-dark 1px p-2">         
        <img src="{{ url_for('static', filename='imgs/candle.jpeg') }}" alt ='gnome' style="width:200px;height:200px" class="border border-dark 1px p-2">
        </div>
    </div>
        <div class="col px-md-5">
            <div class="p-3 border bg-light">
               <h2 class="text-center">Beginning Anew</h2>
               <br>
               <h5 class="lead">When communication breaks down between individuals and there is hurt and
                misunderstanding in the relationship, applying an approach called “Beginning Anew” may be
                helpful. 
                </h5> 
                <br>
                <h6>This practice is used in the Buddhist community to create a fresh understanding about
                    the communication breakdown and hopefully lead to reconciliation. Beginning Anew begins
                    with a request from the person who feels the hurt or suffering (we will call him “Juan”) to the
                    person that Juan believes is causing the suffering (we will call her “Julia”), “Will you please
                    practice Beginning Anew with me?” If Julia agrees, the practice will unfold in four steps. Julia
                    will simply listen to Juan without responding and if she feels uncomfortable or unsafe, she can
                    stop the practice at any time by ringing a bell.</h6>
                    <br>
                <ol>
                    <li class="m-2">The first step is called “Watering the Flower. Juan looks deeply in himself to find 3 or 4
                        things about Julia that he truly appreciates such as helpful things she has done in the past or
                        good qualities that she has. When Juan sincerely looks at Julia with eyes of appreciation,
                        already the hurt he carries begins to lessen.</li>
                    <li class="m-2">In the second step, Juan will express regret for anything that he may have done or said
                        that is contributing to the current difficulty. This step is very important and Juan needs to be
                        very honest about his short-comings and lack of mindful speech.</li>
                    <li class="m-2">The third step is about Juan expressing his hurt to Julia using “I” statements and loving speech. Juan does not blame or argue, but is clear so that everything is said and is out in the open.
                    </li>
                    <li class="m-2">A fourth step may be used when Juan expresses the wish that Julia help him to create healthy communication moving forward.
                    </li>
                </ol>
                <h6>During Beginning Anew Julia simply listens. If she wants to do Beginning Anew with Juan, she will make the request to do so and the process is reversed with Juan listening. From my experience, usually only the first two steps of Beginning Anew are needed. By
                the time we really reflect deeply about the other person’s good qualities and how we have contributed to the situation, our hurt has transformed into understanding and a new perspective.</h6>
            </div> 
        </div>
    </div>
    <div class="py-3 col px-md-5"><div class="p-3 border bg-light">
        <h3>How to prepare for Class</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio commodi maxime error voluptatem voluptas debitis vero optio numquam laborum nulla, ad saepe facere sint. Harum delectus obcaecati suscipit odio perferendis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, similique. Nisi labore nam perferendis, ipsa mollitia saepe ea illo facere accusamus non ratione sequi adipisci, officiis inventore. Perspiciatis, non exercitationem!</p>
    </div></div>
  </div>
<nav class="navbar fixed-bottom navbar-dark bg-primary">
    <a class="navbar-brand" href="/success">Home</a>
    <a class="navbar-brand" href="/about">About Beem</a>
    <a class="navbar-brand" href="/links">Links</a>
    <a class="navbar-brand" href="/contact">Contact Me</a>
    <a class="navbar-brand" href="/classes">Classes</a>
  </nav>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.0/d3.min.js"></script>
</html>