<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <title class="text-center">Contact Me</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
        {% for message in messages %}            
            <p>{{message}}</p>                   
        {% endfor %}
    {% endif %}
{% endwith %}
<button type="button" class="btn-secondary btn-sm p-2 m-2 text-right"> <a href="/logout">Logout</a></button>
<h1 class="shadow-lg p-3 mb-5 bg-white rounded text-center">Contact Me</h1>
    <br>
    <div class="card m-5 p-5">
    <div class="container-fluid bg-primary text-white">
        <h2 class="text-center m-3">Enjoying Day to Day Practice</h2>
        <h4 class="text-center m-2 p-3">The Four Immeasurable Minds of Love</h4>
        <p class="p-4 m-3">
          The practice of the Four Immeasurable Minds of Love is an ancient practice that awakens
          and uncovers our love and natural goodness. They are called “immeasurable minds” because they
          are infinite in their power and scope. They are the four ingredients of true love: Love, Compassion,
          Joy, and Equanimity.
          A good way to begin your practice is to relax your body into your meditation posture, be
          aware of your breath. Then begin to focus your awareness on your heart center with the intention
          to open your heart to love and understanding. We can take one or all of these minds of love to
          practice during our meditation session.</p>
          <p class="p-4 m-3"> 1. Love/Friendliness: (Metta or Maitri) This mind is based on friendliness. We wish for love and
          happiness for oneself and all beings. We start by nourishing the intention to be kind to our self-
          to be our own “best friend.” We let go of any judgment arising in our mind. We can repeat in
          our mind, “May I be filled with love, friendliness and kindness.” We feel a tenderness that is so
          deep like we are holding a precious little baby in our arms. We can also think of someone
          whom we love, who may be suffering, and we can visualize that we are sending with our out
          breath the energy of love, friendliness and kindness from our hearts as a wave or as a golden
          light. We send this love to ourselves, neutral people, difficult people, and all beings.</p>
          <p class="p-4 m-3"> 2. Compassion: (Karuna). We focus on compassion, feeling the suffering of oneself and all
          beings. We develop the desire and intention to relieve that suffering. We start with our self and
          identify the suffering in our life. We breath in to our heart feeling the intention to relieve
          suffering for ourselves, loved ones, neutral beings, and difficult beings. “Great Compassion” is
          the universal medicine that is the universal cure.</p>
          <p class="p-4 m-3"> 3. Joy: (Mudita) The beautiful energy of joy that makes true love fresh, alive, fun, and happy. The mind of joy rejoices in the happiness and success within ourselves and others. This mind of joy
          dissolves all jealousy and competition and radiates love. Breathe in and out from your heart with a gentle smile for someone in particular or for all beings. </p>
          <p class="p-4 m-3"> 4. Equanimity/Inclusiveness: (Upeksha). A heart and mind that is vast, big, wide-open and can love without prejudice. Equanimity stabilizes our mind and lets us have a big view of all things.
          As you breathe in and out feel a lot of space in your heart. Feel that you can hold everything.</p>
    </div>
  </div>
    <div class="jumbotron jumbotron-fluid p-3 m-2">
    <div class="card-group p-5">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Shoot Beam a Message</h4>
            <form action="/contact_me" method="post">
                <p class="text-center">Name: <input type="text" name="name"></p>
                <p class="text-center">Email: <input type="text" name="email"></p>
                <div class="text-center">
                <p>Message:</p>
                <textarea class="text-center" name="message" id="" cols="30" rows="10"></textarea>
                </div>
                <br>
                <a href="/submitted" class="btn btn-primary btn-lg active text-left" role="button" aria-pressed="true">Submit</a>
                </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <h3 class="text-center">Place to Practice:</h3>
              <br>
            <div id="googleMap" style="width:65%;height:275px;" class="center"></div>
            <script>
                function myMap() {
                var location = {lat: 37.161748, lng:-121.97219}
                var map = new google.maps.Map(document.getElementById("googleMap"), {zoom:11, center:location});
                var marker = new google.maps.Marker()
                marker.setPosition(location);
                marker.setMap(map); // missing the pin marker.
                }
                
            </script>
          </div>
          <h4 class="text-center">Address:</h4>
          <p class="text-center">21190 Locust Dr, Los Gatos, CA 95033</p>
        </div> <!--WORK MORE ON API AND GET AN API FOREIGN KEY-->
      </div>
<nav class="navbar fixed-bottom navbar-dark bg-primary">
    <a class="navbar-brand" href="/success">Home</a>
    <a class="navbar-brand" href="/links">Links</a>
    <a class="navbar-brand" href="/about">About</a>
    <a class="navbar-brand" href="/#!">Contact Me</a>
    <a class="navbar-brand" href="/classes">Classes</a>
  </nav>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCygiV2IMPyfPkhCNLC8e3qZBY_AZtukjQ&callback=myMap"></script>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.0/d3.min.js"></script>

</html>