<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Links/Resources</title>
</head>
<body>
    <button type="button" class=" btn btn-outline-dark btn-sm p-2 m-2 text-right"> <a href="/logout">Logout</a></button>

    <div class = "text-center shadow-lg p-3 mb-5 bg-white rounded"> <h1>Resources & Links </h1></div>
    <div class="jumbotron jumbotron-fluid">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h2 class="bold display-4 text-center">Enjoying Day to Day Practice</h2>
            <p class="card-text">
             <p class="text-center p-2">Loving Kindness Prayer</p>
             <p class="text-center p-2"> May I and all beings be filled with love and kindness</p>
             <p class="text-center p-2">May I and all beings be well in body and mind</p>
             <p class="text-center p-2"> May I and all beings be safe from inner and outer dangers </p>
             <p class="text-center p-2"> May I and all beings be happy and free</p>
            </div>
          </div>
            <div class="card">
              <div class="card-body">
                <h2 class="bold display-4 text-center"> Walking Meditation:
                </h2>
                <br>
                <h6 class="text-center">Coordinate your breath with your steps:</h6>
                <br>
                  <p class="text-center p-2"> I have arrived (Breathe in), I am home (Breathe out)</p>
                  <p class="text-center p-2"> In the here (Breathe in), In the now (Breathe out)</p>
                  <p class="text-center p-2">I am solid (Breathe in), I am free (Breathe out)</p>
                  <p class="text-center p-2">I am solid (Breathe in), I am free (Breathe out)</p>
                  <p class="text-center p-2"> In the ultimate (Breathe in), I dwell (Breathe out)</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2 class="bold display-4 text-center">Sitting Meditation</h2>
                <br>
                <h6 class="text-center">Breathing in, I am aware of my in-breath, Breathing out, I am aware of my out-breath.  <strong>In/Out</strong></h6>
                  <p class="text-center p-2"> Breathing in my breath is deep, Breathing out my breath is slow. <strong>Deep/Slow</strong></p>
                  <p class="text-center p-2">Breathing in I feel calm, Breathing out I feel at ease. <strong>Calm/Ease</strong></p>
                  <p class="text-center p-2"> Breathing in I smile, Breathing out I release. <strong> Smile/Release</strong></p>
                  <p class="text-center p-2">Breathing in present moment, Breathing out I know this is a wonderful moment. 
                  <strong>Present moment/Wonderful moment.</strong></p>
                  <p class="text-center p-2"></p>
              </div>
            </div>
        </div>
        <div class="card-deck">
          <img src="{{ url_for('static', filename='imgs/sea.jpeg')}}" alt="seaside" style="width: 500px; height: 200px;" class="img-center">
        </div>
        </div>
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h2 class="bold display-4 text-center">Instructions for Sitting Meditation:
              </h2>
              <p class="m-4">
                Find a very comfortable seat on a chair or cushion.</p>
                <ul>    
                <li><p class="m-4"> Breathe with the awareness of your in
                breath and out breath. Notice your breath moving in to your whole-body creating space and ventilation.</p></li>
                <li><p class="m-4"> Be aware of your body and your posture. Relax your body and smile gently.</p></li>
                <li><p class="m-4">Feel the fresh flow of your breath so that everything, like thoughts and feeling, can move through you without being stuck.</p></li>
                <li><p class="m-4"> Using the awareness of your breath and body as a base just watch everything that arises in this very moment such as thoughts, feelings, sounds, sensations.</p></li>
                <li><p class="m-4"> Like you are watching clouds in the sky. Watching them arise, change, and move on.</p> </li>
                </ul>
                <p class="m-4 bold"> Enjoy your practice.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="bold display-4 text-center">Offering Mandala</h4>
              <p class="card-text">
                <h6 class="text-center">(Hands in Prayer or Mandala Offering)</h6>
                <ul> 
                  <li class ="m-4">The Earth vast and nourishing. The Sky, Wind, Great Mountains, Forests, Seas, Rivers, and Living Beings.</li>
                  <li class ="m-4">May everyone enjoy this precious life and all of its blessings.</li>
                  <li class ="m-4"> I offer gladly without any sense of loss the objects of craving, desire, and hatred. 
                  <li class ="m-4"> Ego, sense of a separate self, friends, enemies, strangers, my body and possessions.</li> 
                  <li class ="m-4">Please accept these in the great letting go and open me and all beings to True Love, Compassion, Joy, and Inclusiveness.</li>
                </ul> 
                <p class="bold text-center"> Gate, Gate, Paragate, Parasamgate, Bodhi Svaha.</p></p>
            </div>
          </div>
        </div>
          <br>
            <div class="container">
            <h1 class="display-3 text-center"> Additional Resources and Practices</h1>
            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
              Launch demo modal
            </button>
            
            <!-- Modal --NOT WORKING ATM -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-body">
                      <p>Ask participants to sit in pairs and guide them with this script.
                          You can also ask them to stand in two lines, facing each other; after completing the exercise
                          with one partner, the line moves up by one and the exercise is repeated with another
                          partner. This increases the understanding that all others are “just like me.” This practice
                          can also be done alone, by bringing to mind a friend, a colleague, a neutral person, or a
                          difficult person. Or it can be done silently, when meeting someone new. You can use any or
                          all of these phrases, or any that seem more appropriate for the group.
                          The Instructions: Become aware that there is a person in front of you. A fellow human being,
                          just like you.</p>
                          <br>
                              <p>
                              Now silently repeat these phrases, while looking at your partner.</p>
                              <p>This person has a body and a mind, just like me. </p>
                              <p>This person has feelings, emotions and thoughts, just like me. </p>
                              <p>This person has in his or her life, experienced physical and emotional pain and
                              suffering, just like me. </p>
                              <p>This person has at some point been sad, disappointed, angry, or hurt, just like me.</p>
                              <p>This person has felt unworthy or inadequate, just like me.</p>
                              <p>This person worries and is frightened sometimes, just like me.</p>
                              <p>This person has longed for friendship, just like me.</p>
                              <p>This person is learning about life, just like me.</p>
                              <p>This person wants to be caring and kind to others, just like me.</p>
                              <p>This person wants to be content with what life has given, just like me.</p>
                              <p>This person wishes to be free from pain and suffering, just like me. </p>
                              <p>This person wishes to be safe and healthy, just like me. </p>
                              <p>This person wishes to be happy, just like me.</p>
                              <p>This person wishes to be loved, just like me.</p>
                          <h5>Now, allow some wishes for well-being to arise: I wish that this person have the
                          strength, resources, and social support to navigate the difficulties in life with ease.</h5>
                              <p>I wish that this person be free from pain and suffering. </p>
                              <p>I wish that this person be peaceful and happy. I wish that this person be loved.</p>
                          <h4>Because this person is a fellow human being, just like me.</h4>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <p class="lead">Some links and videos to garner a better understanding of what we do.</p>
            <br>
            <br>
            <ul>
            <h4 class="text-center"><a href="https://chopra.com/articles/8-steps-to-establish-a-daily-meditation-practice">8 Steps to Establish a Daily Meditation Practice
            </a></h4>
            <br>
            <h4 class='text-center'> <a href="https://en.wikipedia.org/wiki/Transcendental_Meditation_technique">Transcendental Meditation Technique
            </a></h4>
            <br>
            <h4 class="text-center"> <a href="https://www.webmd.com/balance/guide/transcendental-meditation-benefits-technique"> More on Transcendental Meditation</a></h4>
            <br>
            <h4 class="text-center"> <a href="https://www.psychologytoday.com/us/blog/minding-the-body/201203/four-good-times-day-meditate-and-one-avoid">Four Good Times of Day to Meditate (And One to Avoid)</a></h4>
            <br>
            <h4 class="text-center"><a href="https://www.healthline.com/nutrition/12-benefits-of-meditation">12 Science-Based Benefits of Meditation</a></h4>
            <br>
            <h4 class="text-center"><a href="https://www.headspace.com/meditation/sleep">Meditation for sleep
            </a></h4>
            </ul>
            <h3 class="center">A video</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/iuv5EomIA9s" width="200" height="200" allowfullscreen></iframe>
            </div>
            <h3 class="text-center">Meditation for Anxiety </h3>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4">
        <p class="text-center">Copyright © 2020 JQK. The JQK is not responsible for the content of external sites.</p>
        </footer>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/success">Home</a>
        <a class="navbar-brand" href="/about">About Beem</a>
        <a class="navbar-brand" href="/links">Links</a>
        <a class="navbar-brand" href="/contact">Contact Me</a>
        <a class="navbar-brand" href="/classes">Classes</a>
    </nav>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.0/d3.min.js"></script>
</html>