<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="card-deck p-3 mb-2 bg-secondary text-white">
    <div class="card-body">
        <h4 class="card-title text-center display-4">Discourse on Love</h4>
        <img src="{{ url_for('static', filename='imgs/buddah.jpeg') }}" alt ='alex grey' style="width:440px;height:250px" class="mx-auto border-dark m-5">
        <p class="card-text p-3 m-2">Discourse on Love
          “He or she who wants to attain peace should practice being upright, humble, and
          capable of using loving speech. He or she will know how to live simply and happily, with
          senses calmed, without being covetous and carried away by the emotions of the
          majority. Let him or her not do anything that will be disapproved of by the wise ones.“</p>
          <p class="card-text p-3 m-2">(And this is what he or she contemplates:).</p>
          <p class="card-text p-3 m-2"> “May everyone be happy and safe, and may all hearts be ﬁlled with joy. </p>
          <p class="card-text p-3 m-2"> “May all beings live in security and in peace — beings who are frail or strong, tall or short, big or small, invisible or visible, near or faraway, already born, or yet to be born. May all of them dwell in perfect tranquility.</p>
          <p class="card-text p-3 m-2"> “Let no one do harm to anyone.  Let no one put the life of anyone in danger.  Let no one, out of anger or ill will, wish anyone any harm.</p>
          <p class="card-text p-3 m-2">“Just as a mother loves and protects her only child at the risk of her own life, cultivate boundless love to offer to all living beings in the entire cosmos.  Let our boundless love pervade the whole universe, above, below, and across. Our love will know no obstacles. Our heart will be absolutely free from hatred and enmity. Whether standing or walking, sitting or lying, as long as we are awake, we should maintain this mindfulness of love in our own heart.  This is the noblest way of living."</p>
          <p class="card-text p-3 m-2"> “Free from wrong views, greed, and sensual desires, living in beauty and realizing Perfect Understanding, those who practice boundless love will certainly transcend birth and death.” </p>
          <footer class="blockquote-footer text-white">Metta Sutta  
            <cite title="Source Title text-white">Metta Sutta, Sutta Nipata 1.8</cite>
        </footer>
      </div>
    </div>
</body>
</html>